* {
    font-family: "Ropa Sans", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-weight: bold;
    margin: 0.5rem;
    text-align: center;
}

p {
    font-size: 1.25rem;
    margin: 0.5rem;
    text-align: center;
}

.attendance {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.winner-container {
    background-color: #2674BC;
    width: 50%;
    height: auto;
    padding: 1rem 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alt {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 0%;
}

.alt-container {
    background-color: lightgray;
    width: 40%;
    padding: 1rem 2rem;
    height: auto;
    margin: 2rem;
}

#btn-back {
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
}
